.article
{
}
#news
{
  overflow:hidden;
}
.happyDescription
{
  color: #cc8844;
}
.sadDescription
{
  color: #6644aa;
}
.login
{
  margin-left: auto ;
  margin-right: auto ;
}
.happyTop
{
  background-color: #cc8844;
  overflow:hidden;
  vertical-align: middle;
}
.sadTop
{
  background-color: #6644aa;
  overflow:hidden;
  vertical-align: middle;
}
.happyNews
{
  background-color: #ffff99;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #885533;
  width: 85%;
  box-shadow: 3px 3px 2px 2px #775544;
  overflow:hidden;
  min-height: 10em;
}
.sadNews
{
  background-color: #aaaaeb;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #222266;
  width: 85%;
  box-shadow: 3px 3px 2px 2px #332255;
  overflow:hidden;
  min-height: 10em;
}
.happyBody
{
  background-color: #ddbb66;
  font-family: sans-serif;
  margin: 0px;
}
.sadBody
{
  background-color: #8877dd;
  font-family: sans-serif;
  margin: 0px;
}
.emoji
{
  float: right;
  font-size: 30px;
}
.articleLink
{
  text-decoration: none;
  color:inherit;
}

.navbar-brand
{
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  font-size: 42px;
  text-decoration: none;
  color: #222222;
  float: left;
}
.navbar-brand:hover
{
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  font-size: 42px;
  text-decoration: none;
  color: #222222;
  float: left;
}
.navbar
{
  width: 100%;
}
#toggle
{
  padding-top: 2rem;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.content
{
}

.articleLink:hover
{
  color: inherit;
}

.wrapper
{
  text-align: center;
}
.title
{
  font-size: 18px;
}


img {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    width: 10em;
    float: left;
}

/*Below is the css required for the happy sad toggle bar*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*Buttons*/
.btn-happy, .btn-happy:hover, .btn-happy:active, .btn-happy:visited {
    background-color: #cc8844 !important;
    border-color: #885533; !important;
    color: white;
}

.btn-sad, .btn-sad:hover, .btn-sad:active, .btn-sad:visited {
    background-color: #222266 !important;
    border-color: #332255; !important;
    color: white;
}
