:root {
  --happyhigh: #ffff99;
  --happymid1: #ddbb66;
  --happymid2: #cc8844;
  --happyshadow: #885533;
  --happyocclusion: #553300;
  --sadhigh: #aaaacb;
  --sadmid1: #7766aa;
  --sadmid2: #554477;
  --sadshadow: #363355;
  --sadocclusion: #252255;
}

.article
{

}

.headerData
{
  overflow:hidden;
}

#news
{
  overflow:hidden;
}
.happyDescription
{
  color: var(--happyshadow);
}
.sadDescription
{
  color: var(--sadshadow);
}
.login
{
  margin-left: auto ;
  margin-right: auto ;
}
.happyTop
{
  background-color: var(--happymid2);
}
.sadTop
{
  background-color: var(--sadmid2);
}
.happyNews
{
  background-color: var(--happyhigh);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: var(--happyocclusion);
  min-width: 90%;
  min-height: 90%;
  box-shadow: 3px 3px 2px 2px var(--happyshadow);
  overflow:hidden;
}
.sadNews
{
  background-color: var(--sadhigh);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: var(--sadocclusion);
  min-width: 90%;
  min-height: 90%;
  box-shadow: 3px 3px 2px 2px var(--sadshadow);
  overflow:hidden;
}
.happyBody
{
  background-color: var(--happymid1);
  font-family: sans-serif;
  margin: 0px;
}
.sadBody
{
  background-color: var(--sadmid1);
  font-family: sans-serif;
  margin: 0px;
}
.emoji
{
  float: right;
  font-size: 30px;
  padding-bottom: 25%
}
.articleLink
{
  text-decoration: none;
  color:inherit;
}

.navbar-brand
{
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  font-size: 42px;
  text-decoration: none;
  color: #222222;
  float: left;
}
.navbar-brand:hover
{
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  font-size: 42px;
  text-decoration: none;
  color: #222222;
  float: left;
}

#toggle
{
  padding-top: 2rem;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.content
{
}

.articleLink:hover
{
  color: inherit;
}

.wrapper
{
  text-align: center;
}
.title
{
  font-size: 18px;
}


img {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    width: 12em;
    float: left;
}

/*Below is the css required for the happy sad toggle bar*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/*Buttons*/
.btn-happy, .btn-happy:active, .btn-happy:visited {
    background-color: var(--happyshadow); !important;
    color: white;
}

.btn-happy:hover
{
    background-color: var(--happyocclusion); !important;
}

.btn-sad, .btn-sad:active, .btn-sad:visited {
    background-color: var(--sadshadow) !important;
    color: white;
}

 .btn-sad:hover
 {
   background-color: var(--sadocclusion);
 }

.btn-happyToggle:hover
{
  background-color: var(--happyhigh);
}
.btn-happyToggle
{
  background-color: var(--happymid1);
}

.btn-sadToggle:hover
{
  background-color: var(--sadhigh);
}

.btn-sadToggle
{
  background-color: var(--sadmid1);
}

.btn
{
  -webkit-appearance: none;
  border-width: 0px;
}



/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle > .toggle-group {
  background:white;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  color:#666;
}

.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .25);
  /*border: thin rgba(0, 0, 0, .25) solid;*/
}


/* Formatting for login page*/
#login-body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.login .form-control:focus {
  z-index: 2;
}
.login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
